name: ci

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        toolchain:
          - {compiler: gcc, compiler-version: 10}
          - {compiler: gcc, compiler-version: 11}
          - {compiler: gcc, compiler-version: 12}
          - {compiler: gcc, compiler-version: 13}
          - {compiler: gcc, compiler-version: 14}
          - {compiler: gcc, compiler-version: 15}
          - {compiler: intel, compiler-version: '2025.0'}
          - {compiler: intel-classic, compiler-version: '2021.10'}
          - {compiler: nvidia-hpc, compiler-version: '25.1'}
        exclude:
          - os: ubuntu-latest
            toolchain: {compiler: gcc, compiler-version: 15}
          - os: macos-latest
            toolchain: {compiler: intel}
          - os: macos-latest
            toolchain: {compiler: intel-classic}
          - os: macos-latest
            toolchain: {compiler: nvidia-hpc}
          - os: macos-latest
            toolchain: {compiler: gcc, compiler-version: 10}
          - os: windows-latest
            toolchain: {compiler: nvidia-hpc}
          - os: windows-latest
            toolchain: {compiler: gcc, compiler-version: 10} # Fail to compile stdlib_blas_level1.f90:123:38
          - os: windows-latest
            toolchain: {compiler: intel-classic} # Fail to build. Mixing ifort and gfortran?

    steps:
      - name: Setup Fortran
        uses: gha3mi/setup-fortran-conda@latest
        with:
          platform: ${{ matrix.os }}
          compiler: ${{ matrix.toolchain.compiler }}
          compiler-version: ${{ matrix.toolchain.compiler-version }}
          extra-packages: "blas,lapack"

      - name: fpm test (debug)
        run: fpm test --compiler ${{ matrix.compiler }} --profile debug --verbose
